@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  background: #f2f2f2;
  font-family: 'Nunito', sans-serif;
}

li {
  list-style: none;
}

header {
  background: #4A90E2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 50px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}

header div {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
}

header i {
  margin-left: 10px;
  font-size: 2rem;
}

.post_item_container {
  background: #ffffff;
  border-radius: 5px;
  width: 100%;
  max-width: 700px;
  padding: 20px;
  margin: 20px auto 0;
  box-shadow: 0 4px 10px rgba(121, 121, 121, 0.1),
    0 -4px 10px rgba(124, 124, 124, 0.1);
}

.post_item_container:last-child {
  margin-bottom: 20px;
}

.comment_list_container {
  display: flex;
  margin-top: 10px;
}

.comment_list_container:first-child {
  margin-top: 20px;
}

.comment_list_container p {
  background: #eee;
  border-radius: 20px;
  padding: 10px 15px;
}

.post_item_avatar {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.post_item_avatar img, .comment_list_container img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 15px;
}

.post_item_avatar h3 {
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
}

.post_item_avatar p {
  font-size: 11px;
  color: #9a9a9a;
}

.post_item_avatar + p {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}